* {
    /* nombre de la fuente de google fonts */
    font-family: "Sour Gummy", sans-serif;
}

/* codigo del sitio coolors.co-degradados y gradiente */
body {
    background: hsla(229, 51%, 50%, 1);

    background: linear-gradient(90deg, rgba(62, 86, 193, 0.89) 0%, hsla(310, 76%, 82%, 1) 50%, rgba(255, 102, 196, 0.616) 100%);

    background: -moz-linear-gradient(90deg, rgba(62, 86, 193, 0.877) 0%, hsla(310, 76%, 82%, 1) 50%, rgba(255, 102, 196, 0.486) 100%);

    background: -webkit-linear-gradient(90deg, rgba(62, 86, 193, 0.863) 0%, hsla(310, 76%, 82%, 1) 50%, rgba(255, 102, 196, 0.534) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3E56BF", endColorstr="#f4afe9", GradientType=1 );
}

/* encabezado */
header {
    background-image: url(assets/header.jpg);
    background-repeat: repeat-x 3;
    height: 90px;
}

/* Nombre en header */
header a span {
    color: white;
    border: solid 2px;
    border-radius: 20px;
    border-color: #ff66c4;
    background-color: rgba(255, 255, 255, 0.438);
    padding: 5px;
    margin-left: 35px;
}

/* imagen teclado */
header img {
    height: 70px;
    margin-left: 25px;
}


/* barra de navegación-enlaces color, margen, hover */
.nav{
    gap: 15px;
    margin-right: 70px;
}
.nav-item {
    margin-top: 20px; 
}
.nav-item a{
    color: white;
    padding: 5px;
}
.nav-item a:hover{
    color: white;
    background-color: #ff66c4a8;
}

/* sección sobre mi */


/* id app efecto escribiendo */
#app {
    color: #2045e9;
}

/* color del nombre */
h1 {
    color: #ff3cb4;
}


 /* enlace al curriculum pdf */
.boton-cv{
 background-color: #4e6cf5;
 color: white;
 border: solid 1px #2045e96e;
}
.boton-cv:hover{
    color: white;
    border: solid 2px #ff66c4;
    background-color: #4e6cf5;
}


/* agregramos un div para cambiar el color de esa area */
.caja-habilidades{
    background-color: #0329d12f;
}
h3{
    font-size: 36px;
    color: #0329d1;
}
 /* color de los iconos de seccion habilidades */
.caja-habilidades i{
    color: #ff3cb4;
}

.proyectos .border-bottom{
    border-bottom: solid 5px white;
}

/* borde en las card de testimonios */
.testimonios .card{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: solid 2px #ff66c4;
    padding: 20px;
    width: 400px;
} 
.carrusel-item {
    width: 500px;
}

.proyectos text{
    text-align: center;
    color: #ff3cb4;
    font-size:x-large;
}

/* vercel */
.btn-proyecto a {
    text-decoration: none;
    color: black
}
.btn-proyecto {
    background-color: #C5B3E3;
    border: solid 1px #4e6cf5;
}

.btn-proyecto:hover {
    background-color: #ff66c4;
}

/* github */
.btn-codigo{
    background-color: #C5B3E3;
    border: solid 1px #4e6cf5;
}
.btn-codigo:hover{
    background-color: #ff66c4;
}

.btn-codigo a {
    text-decoration: none;
    color: black
}
/* titulo de las card de proyectos */
.card .card-tittle {
    color: #ff3cb4;
}

#contacto {
    background-color: #C5B3E3;
    color: #ff3cb4;
}

/* pie de pagina contenedor de iconos*/
footer .nav{
    width: 100%;
}


/* iconos */
footer i{
    color: white;
    font-size: xx-large;
    justify-content: center;
    padding: 5px 10px;
    background-color: #ff66c4;
}


footer i:hover{
    color: #0329d1;
    background-color: rgba(255, 255, 255, 0.562)
}


footer .nav-link:hover{
    background-color: #0329d100;
}


/* pie de pagina parrafo y link para sitio de tecnolochicas */
footer p{
    color: black;
}
footer .link-techpro{
    color: white;
}